body {
    font-family: Arial, sans-serif;
}

#navbar {
    background-color: #add8e6; /* Baby blue color */
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
}

#search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#weather-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

details {
    margin-top: 10px;
}

summary {
    cursor: pointer;
    font-weight: bold;
}

#pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination-controls button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    background-color: #add8e6;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}